html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #08AEEA;
	background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}

.about__paragraph {
	color: blue;
}

.about__photo {
	max-height: 300px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.about__sectionHeader {
	color: tomato;
}

.day {
	padding-left: 32px;
}

.day__dayHeader {
	color: yellow;
}

.day__paragraph {
	color: blue;
}

.data-table {
	width: 100%;
}

.hobby {}

.hobby__list {
	list-style: none;
	padding: 0;
}

.footer__paragraphFooter {
	color: pink;
}

.main {
	width: 100%;
	max-width: 900px;
	margin: 32px auto;
	padding-top: 32px;
}

.main__header--heading {
	color: greenyellow;
}

.navigation__list {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
	align-content: stretch;
	align-items: center;
}

.navigation__item {
	display: block;
	margin: 0 25px;
}

.title__diaryHeader {
	color: tomato;
}

.site-header {
	background-color: #FFE53B;
	background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
	box-sizing: border-box;
	left: 0;
	padding: 10px;
	position: fixed;
	top: 0;
	width: 100%;
}